.banner-content-wrapper .search-form-wrapper input {
	width: 100%;
	height: 54px;
}

.product-style-one .card-thumbnail a img {
	height: 170px;
}
.stock-items-row {
	align-items: flex-start;
	justify-content: space-between;
}
.stock-item {
	margin-bottom: 25px;
	width: auto;
}
.product-share-wrapper {
	display: none;
}

.product-share-wrapper + a {
	display: none;
}
.product-share-wrapper .profile-share a img {
	height: 30px;
	object-fit: cover;
	object-position: center;
}
.search-filter {
	flex: 0 0 auto;
	width: 378px;
}

.search-content {
	flex: 0 0 auto;
	width: calc(100% - 378px);
}

.nuron-expo-filter-widget .content .nuron-form-check label {
	background: transparent;
	display: inline-block;
	height: 40px;
	color: var(--color-body);
	font-size: 16px !important;
	line-height: 35px;
	text-decoration: none;
	margin: 3px;
	border: 2px solid var(--color-border);
	transition: 0.4s;
	padding: 0 20px;
	border-radius: 100px;
}

.nuron-expo-filter-widget .content .nuron-form-check label:before,
.nuron-expo-filter-widget .content .nuron-form-check label:after {
	display: none;
}

.nuron-expo-filter-widget .content .nuron-form-check input:checked + label {
	background: #42a4fe;
	color: #fff;
}

.nuron-expo-filter-widget .content .nuron-form-check {
	display: inline-block;
	margin-right: 10px;
}
.nuron-expo-filter-widget {
	margin-bottom: 30px;
}

.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-all {
	background-color: transparent !important;
	border: 2px solid #fff !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-black {
	background-color: black !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-blue {
	background-color: blue !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-cyan {
	background-color: cyan !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-gray {
	background-color: gray !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-green {
	background-color: green !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-orange {
	background-color: orange !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-pink {
	background-color: pink !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-purple {
	background-color: purple !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-red {
	background-color: red !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-white {
	background-color: white !important;
}
.nuron-expo-filter-widget .content .nuron-form-check label.bg-color-yellow {
	background-color: yellow !important;
}

.nuron-expo-filter-widget.widget-color .content .nuron-form-check label {
	font-size: 0 !important;
	width: 35px;
	height: 35px;
	max-width: 40px;
	border: 2px solid transparent;
	padding: 0;
}
.nuron-expo-filter-widget.widget-color .content .nuron-form-check input:checked + label {
	border-color: #fff;
	outline: 3px solid #42a4fe;
}
.rn-new-items .search-form-wrapper input {
	width: 100%;
	height: 50px;
}

.rn-new-items .search-form-wrapper {
	margin-bottom: 40px;
}

.search-content .search-form-wrapper {
	display: flex;
}

.search-content .search-form-wrapper select {
	width: 62px;
	padding: 0 0px 0 10px;
	border-radius: 10px;
	margin-left: 10px;
	position: relative;
	appearance: none;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 -4.5 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Earrow_down %5B%23338%5D%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-220.000000, -6684.000000)' fill='%239e9e9f'%3E%3Cg id='icons' transform='translate(56.000000, 160.000000)'%3E%3Cpath d='M164.292308,6524.36583 L164.292308,6524.36583 C163.902564,6524.77071 163.902564,6525.42619 164.292308,6525.83004 L172.555873,6534.39267 C173.33636,6535.20244 174.602528,6535.20244 175.383014,6534.39267 L183.70754,6525.76791 C184.093286,6525.36716 184.098283,6524.71997 183.717533,6524.31405 C183.328789,6523.89985 182.68821,6523.89467 182.29347,6524.30266 L174.676479,6532.19636 C174.285736,6532.60124 173.653152,6532.60124 173.262409,6532.19636 L165.705379,6524.36583 C165.315635,6523.96094 164.683051,6523.96094 164.292308,6524.36583' id='arrow_down-%5B%23338%5D'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: 9px;
	background-repeat: no-repeat;
	background-position: 38px center;
}

.search-content .search-form-wrapper .search-icon {
	right: 80px;
}

.search-content .search-form-wrapper select:before {
	content: 'asdas';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.search-form-wrapper .nice-select {
	background: transparent;
	border: 1px solid #2d2d36;
	height: 50px;
	margin-left: 10px;
	width: 58px;
}

.search-form-wrapper .nice-select .current {
	color: #ababab;
	margin-top: 4px;
	display: block;
}

.search-form-wrapper .nice-select:after {
	border-bottom: 2px solid #a9a9aa;
	border-right: 2px solid #a9a9aa;
	width: 7px;
	height: 7px;
}
.mainmenu-nav .mainmenu li a {
	cursor: pointer;
}

.logo-thumbnail a {
	cursor: pointer;
}
.mainmenu-nav .mainmenu li.active a {
	color: #43a4fe;
}